
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}">
    <title>{% block title '' %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_list_category') }}">Suivi des taches</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <a class="addTask" href="{{ path('app_add_task') }}"> Ajouter une tâche </a>
        </div><!--/.navbar-collapse -->
    </div>
</nav>



<div class="container" style="padding-top:100px;">
    <!-- Example row of columns -->
    <div class="row">
        {% if app.session.started and app.session.flashBag.peekAll is not empty %}
            <div class="messages">
                {% for type, messages in app.session.flashBag.all %}
                    {% set type = type == 'error' ? 'danger' : type %}
                    {% for message in messages %}
                        {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                        <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>


    <hr>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <footer>
        <p>&copy; {{ "now"| date('Y') }} Lauret Coding</p>
    </footer>
</div> <!-- /container -->
<!-- Button trigger modal -->

</body>
</html>
